<div class="container">
  <div class="mw-100 cover-photo mb-5"
    style="height: 550px; background-image: url(&quot;https://images.tkbcdn.com/1/1560/600/Upload/eventcover/2021/01/11/876FBE.jpg&quot;);">
  </div>

  <div class="row mb-5">
    <div class="col-md-12">
      <div class="row g-0 border overflow-hidden flex-md-row mb-4 h-md-250 position-relative shadow-lg mx-auto"
        style="border-radius: 40px;">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-danger">
            <h3 class="mb-0">Khóa học Ứng dụng SQL trong xử lý dữ liệu</h3>
          </strong>
          <div class="mb-1 text-muted">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            Thứ 7, 20 Tháng 3 2021 - Thứ 7, 03 Tháng 4 2021 (09:00 AM - 12:00 PM)
          </div>
          <div class="mb-1 text-muted border-top-grey col-sm-12 pd-hor-15">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <strong>
              Trung tâm tư vấn và đào tạo UniTrain
            </strong>
            <div>
              Lầu 4, tòa nhà Thiên Sơn, 5 Nguyễn Gia Thiều, phường 6, Quận 3, Thành Phố Hồ Chí Minh, Quận 3, Thành Phố
              Hồ Chí Minh
            </div>
          </div>
        </div>

        {{!-- phần của user --}}
        <div class="col-auto p-4 d-flex flex-column position-static">
          <button type="button" class="btn btn-success rounded-pill w-100 mb-3"
            style="height: 55px; background-color: #5AAC44; font-size: larger;">
            <strong>
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
              Đăng ký tham gia
            </strong>
          </button>
        </div>


        {{!-- phần của admin --}}
        {{!-- <div class="col-auto p-4 d-flex flex-column position-static">
          <button type="button" class="btn btn-success rounded-pill w-100 mb-3"
            style="height: 55px; background-color: #5AAC44; font-size: larger;">
            <strong>
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
              Chỉnh sửa thông tin
            </strong>
          </button>
          <button type="button" class="btn btn-success rounded-pill w-100"
            style="height: 55px; background-color: #FF4444; font-size: larger;">
            <strong>
              Danh sách User bị chặn
            </strong>
          </button>
        </div> --}}


      </div>
    </div>

  </div>


  <div class="row mb-5">
    <div class="col-sm-12 col-md-12 pl-pr-0">
      <div class="row g-0 border overflow-hidden flex-md-row mb-4 h-md-250 position-relative shadow-lg mx-auto"
        style="border-radius: 40px;">
        <h3 class="title p-4" style="border-bottom: 1px solid gray;">Giới thiệu chi tiết</h3>
        <div class="col p-4 d-flex flex-column position-static">
          <div class="col-auto box">
            <div class="really-height">
              <h1 class="lnr-text-align-center">
                <span>
                  <strong class="d-inline-block mb-2 text-center">
                    KHÓA HỌC ỨNG DỤNG SQL TRONG XỬ LÝ DỮ LIỆU
                  </strong>
                </span>
              </h1>
              <h5>
                GIỚI THIỆU ỨNG DỤNG SQL
              </h5>
              <ul>
                <li>
                  <p>
                    SQL (Structured Query Language – ngôn ngữ có tính chất truy vấn) là loại ngôn ngữ được dùng để tương
                    tác
                    với cơ sở lưu trữ dữ liệu – SQL server, cho phép người dùng lấy dữ liệu ra một cách nhanh chóng và
                    dễ dàng.
                  </p>
                </li>
                <li>
                  <p>
                    SQL cho phép người dùng thực hiện các xử lý dữ liệu lớn, không bị giới hạn số lượng 1 triệu dòng dữ
                    liệu trong Excel.
                  </p>
                </li>
                <li>
                  <p>
                    Mặc dù SQL là ngôn ngữ khá đơn giản, nhưng nắm vững được nó là một kỹ năng là một điều vô cùng cần
                    thiết. Tất cả các công ty lớn về công nghệ trên thế giới hiện nay như Microsoft, IBM, Oracle… đều hỗ
                    trợ
                    việc phát triển ngôn ngữ này và SQL được rất nhiều công ty lớn sử dụng trong việc phân tích dữ liệu.
                  </p>
                </li>
              </ul>


              <h5>
                CHƯƠNG TRÌNH
              </h5>
              <ul>
                <li>
                  <p>
                    Khóa học Ứng dụng SQL trong xử lý dữ liệu được thiết kế chuyên biệt cho người đi làm đặc biệt dành
                    cho
                    những người xử lý và phân tích dữ liệu lớn (big data) trên SQL server …

                  </p>
                </li>
                <li>
                  <p>
                    Nội dung đào tạo mang tính ứng dụng cao, giúp học viên dễ dàng chuyển hóa kiến thức cơ bản nhất để
                    ứng
                    dụng trong hầu hết các tình huống thực tế.
                  </p>
                </li>
                <li>
                  <p>
                    Giảng viên là người giàu kinh nghiệm thực tế trong việc vận dụng SQL trong xử lý dữ liệu lớn tại
                    công ty
                    đa quốc gia.
                  </p>
                </li>
              </ul>


              <h5>
                NỘI DUNG
              </h5>

              <ol>
                <li>
                  <p>
                    Giới thiệu SQL
                  </p>
                  <ul>
                    <li>Tổng quan về SQL server</li>
                    <li>Các khái niệm về database trong SQL server</li>
                  </ul>
                </li>
                <li>
                  <p>
                    Truy vấn dữ liệu từ một bảng
                  </p>
                  <ul>
                    <li>Câu lệnh SELECT để truy vấn dữ liệu</li>
                    <li>Các hàm xử lý dữ liệu dạng chuỗi, số và ngày tháng năm trong SQL</li>
                    <li>Truy vấn dữ liệu có điều kiện với câu lệnh WHERE và các toán tử</li>
                    <li>Truy vấn và nhóm dữ liệu với câu lệnh CASE WHEN</li>
                  </ul>
                </li>
                <li>
                  <p>
                    Truy vấn dữ liệu từ nhiều bảng
                  </p>
                  <ul>
                    <li>Các lệnh JOIN để gộp nhiều bảng dữ liệu</li>
                    <li>Tạo truy vấn con trong SQL</li>
                    <li>Tạo truy vấn con với WITH</li>
                    <li>Kết hợp dữ liệu từ nhiều bảng có cùng cấu trúc thành bảng tổng hợp với truy vấn UNION và MERGE
                    </li>
                  </ul>
                </li>

                <li>
                  <p>
                    Thao tác với bảng dữ liệu
                  </p>
                  <ul>
                    <li>Tạo bảng tạm lưu lại kết quả của một truy vấn SELECT</li>
                    <li>Các lệnh làm việc với bảng</li>
                    <li>Tạo bảng từ dữ liệu nguồn là file Excel</li>
                  </ul>
                </li>
              </ol>


              <h5>
                ĐIỂM ĐẶC BIỆT
              </h5>
              <ul>
                <li>
                  <p>
                    Giảng viên là người giàu kinh nghiệm thực tế trong việc vận dụng ngôn ngữ SQL trong xử lý dữ liệu
                    lớn
                    tại các công ty đa quốc gia.
                  </p>
                </li>
                <li>
                  <p>
                    Chương trình đào tạo được thiết kế mang tính thực tiễn cao, phương pháp giảng dạy logic, dễ hiểu,
                    tập
                    trung chủ yếu vào thực hành.
                  </p>
                </li>
                <li>
                  <p>
                    Giải đáp các thắc mắc và tình huống thực tế của học viên trong quá trình học.
                  </p>
                </li>
                <li>
                  <p>
                    Số lượng học viên giới hạn, đảm bảo tương tác tốt trong giảng dạy.
                  </p>
                </li>
                <li>
                  <p>
                    Chính sách ưu đãi học phí cho học viên đăng ký sớm, nhóm học viên, học viên cũ.
                  </p>
                </li>
              </ul>


              <h5>
                KHAI GIẢNG DỰ KIẾN: 20/03/2021
              </h5>
              <h5>
                THỜI LƯỢNG: 4 buổi
              </h5>
              <h5>
                LỊCH HỌC: sáng T7 (09:00 - 12:00)
              </h5>

            </div>
          </div>

        </div>

      </div>

      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="row mb-5">
    <div class="col-md-12">
      <div class="row g-0 border overflow-hidden flex-md-row mb-4 h-md-250 position-relative shadow-lg mx-auto"
        style="border-radius: 40px;">
        <div class="row margin-bottom-0">
          <h3 class="title p-4" style="border-bottom: 1px solid gray;">Nhà tổ chức</h3>
          <div class="col p-4">
            <div class="row really-height">
              <div class=" col-3 ">
                <img class="" src="https://static.tkbcdn.com/Upload/organizerlogo/2021/01/04/57A3B0.jpg">
              </div>
              <div class=" col-9">
                <h2 class="text-uppercase">Asia PMO</h2>
                <p>
                  Asia PMO is a digital transformation and agile consulting company to enable clients to
                  succeed in fast-changing and customer-centric markets. information here
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  <script>
    let idConference = localStorage.getItem('conferenceCurrent');
    console.log('id conferences: ', idConference);

    $(_ => {
      $.ajax({
        url: `http://localhost:3000/conference/id?id=${idConference}`,
        method: 'GET',
        dataType: 'json'
      }).done(data => {
        console.log('data: ', data);
      })
    });
  </script>


</div>