  <section class="text-center">
    <div class="cover-photo text-danger bg-light " href="#">
      <img class="card-img" src="https://images.tkbcdn.com/1/1560/600/Upload/eventcover/2020/12/16/33F35D.jpg"
        alt="">
      <div class="card-body">
        <h1 class="jumbotron-heading ">TEDxFPTUniversityHCMC</h1>
        <p class="lead text-muted">FPT University Ho Chi Minh
          Đường D1, Lô E2a-7 Khu Công Nghệ Cao, Long Thạnh Mỹ, Quận 9, Thành phố Hồ Chí Minh, Quận 9, Thành
          Phố Hồ Chí
          Minh.</p>
        <p>
          <a href="#" class="btn btn-outline-primary my-2">Xem chi tiết</a>
          <a href="#" class="btn btn-outline-success my-2">Đăng kí tham gia</a>
        </p>
      </div>
    </div>

  </section>