<div class="card align-content-center">

  <form class="row gx-3 gy-2 align-items-center d-flex justify-content-center">
    <div class="col-sm-3">
      <label class="visually-hidden" for="Place">#</label>
      <select class="form-select" id="Place">
        <option selected>Địa điểm</option>
        <option value="1">Tất cả các địa điểm</option>
        <option value="2">Hồ Chí Minh</option>
        <option value="3">Hà Nội</option>
      </select>
    </div>

    <div class="col-sm-3">
      <label class="visually-hidden" for="Time">#</label>
      <select class="form-select" id="Time">
        <option selected>Thời gian</option>
        <option value="1">Tất cả các ngày</option>
        <option value="2">Hôm nay</option>
        <option value="3">Ngày mai</option>
        <option value="4">Tuần này</option>
        <option value="5">Tháng này</option>
      </select>
    </div>

    <div class="col-sm-3">
      <label class="visually-hidden" for="Sort">#</label>
      <select class="form-select" id="Sort">
        <option selected>Sắp xếp</option>
        <option value="1">Theo tên từ A->Z</option>
        <option value="2">Theo tên từ Z->A</option>
      </select>
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>


</div>