<footer class="footer fwrapper">
  <section class="ft-body clearfix">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-sm-6 col-md-3 fbody-block">
          <!-- <br> -->
          <div class="fbody-head">Hotline hỗ trợ</div>
          <div class="fbody-content">
            <ul class="our-links">
              <li class="ft-link-desc">
                <span class="ello-phone"></span>
                Hồ Chí Minh: <a class="ft-hotline" href="tel:+8419006408">Thứ 2 - Thứ 6 (8:30 - 18:30)</a>
                <br>
                <strong style="font-size: 16px;" class="tkb-color">1900.6408</strong>
                <br>
              </li>
            </ul>
          </div>
          <br>
          <div class="fbody-head">Email hỗ trợ
          </div>
          <div class="ft-link-desc"><span class="ello-mail-alt"></span> support@ticketbox.vn</div>
        </div>
        <div class="col-sm-6 col-md-3 fbody-block">
          <div class="fbody-head"> <a class="light" href="/how-do-we-help">Chúng tôi giúp gì được cho bạn?</a></div>
          <div class="ft-link-desc">Dễ dàng - Tiện lợi - Bảo mật cao</div>
          <br>
          <div class="fbody-head">Trung tâm hỗ trợ và chăm sóc khách hàng</div>
          <div class="fbody-content">
            <div class="ft-link-desc"><span class="ello-location"></span>TP. Hồ Chí Minh: 52 Út Tịch, Phường 4, Quận Tân
              Bình</div>
          </div>
          <br>
        </div>
        <div class="visible-sm-block" style="clear:both"></div>
        <div class="col-sm-6 col-md-3 fbody-block">
          <div class="fbody-head"> <a class="light" href="/booking-instruction">Hướng dẫn mua vé</a></div>
          <div class="ft-link-desc">Chỉ với vài thao tác đơn giản</div>
          <br>
          <div class="fbody-head">Về công ty chúng tôi</div>
          <div class="fbody-content">
            <ul class="our-links our-links-custom">
              <li>
                <a class="light ft-link-desc" href="/about-us" target="_blank" title="Thông tin về TicketBox">Thông tin
                  về TicketBox</a>
              </li>
              <li>
                <a class="light ft-link-desc" href="/event-landscape-vn" target="_blank"
                  title="Ticketbox Event Landscape">Ticketbox Event Landscape</a>
              </li>
              <li>
                <a class="light ft-link-desc" href="/jobs" target="_blank" title="Thông tin tuyển dụng">Thông tin tuyển
                  dụng</a>
              </li>
              <li>
                <a class="light ft-link-desc" href="/term-and-policy#heading4" target="_blank"
                  title="Quy chế hoạt động sàn TMĐT">Quy chế hoạt động sàn TMĐT</a>
              </li>
              <li>
                <a class="light ft-link-desc" href="/term-and-policy#heading5" target="_blank"
                  title="Cơ chế giải quyết tranh chấp/ khiếu nại">Cơ chế giải quyết tranh chấp/ khiếu nại</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 fbody-block">
          <div class="loader"></div>
          <div class="fbody-head"> <a class="light" href="/help-center">FAQ</a></div>
          <div class="ft-link-desc">Câu hỏi thường gặp</div>
          <br>
          <div class="fbody-head">Đăng ký nhận email</div>
          <form name="frmSubscribe" class="fbody-content" novalidate="novalidate">
            <div data-err="alerter" class="dl-er-message hide">
              <div class="alert alert-info" role="alert">
                <span data-err="message">Start time must be less than end time</span>
              </div>
            </div>
            <div class="btn-subscribe rounded input-group overflow-hidden">
              <div class="i-email input-group-addon"><span class="ello-mail-alt"></span></div>
              <div class="relative form-control subscribe-input">
                <input class="color-9" required="true" type="email" name="email" placeholder="Email của bạn"
                  tabindex="200" aria-required="true">
              </div>
              <div data-style="zoom-out" class="i-go ladda-button smooth-trans input-group-addon btn-submit-subscriber"
                tabindex="201"><span class="ladda-label">
                  <button type="submit" class="ello-paper-plane"></button>
                </span><span class="ladda-spinner"></span></div>
            </div>
          </form>
        </div>
      </div>
      <div style="width: 100%;height: 1px;background-color: rgba(255,255,255,0.05);margin-bottom: 30px;"></div>
      <div class="row" style="margin-bottom: -30px;">
        <div class="col-sm-6 col-md-3 fbody-block">
          <div class="fbody-head">Ứng dụng Ticketbox</div>
          <div class="clearfix" style="margin: 0px -5px;"></div>
          <a href="https://click.google-analytics.com/redirect?tid=UA-44294974-11&amp;url=https%3A%2F%2Fitunes.apple.com%2Fapp%2Fapple-store%2Fid1041900498%3Fpt%3D117770847%26ct%3Dtkbvn-web-app-landing-page%26mt%3D8&amp;aid=1041900498&amp;idfa=%{idfa}&amp;cs=tkbvn-website&amp;cm=referral&amp;cn=app-landing-page"
            target="_blank">
            <div class="footer-app-wrapper">
              <div class="footer-app-wrapper-in">
                <div class="footer-app-wrapper-in-left"><span class="ello-apple"></span></div>
                <div class="footer-app-wrapper-in-right">
                  <p class="footer-app-wrapper-in-right-small text-uppercase">available ON</p>
                  <p class="footer-app-wrapper-in-right-big">App store</p>
                </div>
              </div>
            </div>
          </a>
          <a href="https://play.google.com/store/apps/details?id=ticketbox.event.user&amp;referrer=utm_source%3Dtkbvn-website%26utm_medium%3Dreferral%26utm_campaign%3Dapp-landing-page"
            target="_blank">
            <div class="footer-app-wrapper">
              <div class="footer-app-wrapper-in">
                <div class="footer-app-wrapper-in-left"><span class="ello-android"></span></div>
                <div class="footer-app-wrapper-in-right">
                  <p class="footer-app-wrapper-in-right-small text-uppercase">ANDROID APP ON</p>
                  <p class="footer-app-wrapper-in-right-big">Google play</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-3 fbody-block">
          <div class="fbody-head">Ứng dụng check-in</div>
          <div class="clearfix" style="margin: 0px -5px;"></div>
          <a href="https://checkin.ticketbox.vn" target="_blank">
            <div class="footer-app-wrapper">
              <div class="footer-app-wrapper-in">
                <div class="footer-app-wrapper-in-left"><span class="ello-desktop"
                    style="position: relative;top: 2px;font-size: 21px;"></span></div>
                <div class="footer-app-wrapper-in-right">
                  <p class="footer-app-wrapper-in-right-big text-uppercase">Desktop APP</p>
                  <p class="footer-app-wrapper-in-right-small">Multi platform</p>
                </div>
              </div>
            </div>
          </a>
          <a href="/app/mobile-event-manager" target="_blank">
            <div class="footer-app-wrapper">
              <div class="footer-app-wrapper-in">
                <div class="footer-app-wrapper-in-left"><span class="ello-mobile" style="font-size: 27px;"></span></div>
                <div class="footer-app-wrapper-in-right">
                  <p class="footer-app-wrapper-in-right-big text-uppercase">MOBILE APP</p>
                  <p class="footer-app-wrapper-in-right-small">Android and iOS</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-3 fbody-block">
          <div class="fbody-head">Follow Us</div>
          <div class="fbody-content">
            <div class="social-links w-100">
              <a class="social-link sfb" href="//www.facebook.com/ticketbox.vn" target="_blank"
                title="ticketbox.vn facebook">
                <!-- <span class="ello-facebook-2"></span> -->
              </a>
              <a class="social-link sins" href="https://www.instagram.com/ticketbox_vn" target="_blank"
                title="ticketbox.vn instagram">
                <!-- <span class="ello-instagram-1"></span> -->
              </a>
              <a class="social-link stwi" href="//twitter.com/TicketboxVn" target="_blank" title="ticketbox.vn twitter">
              </a>
              <a class="social-link syou" href="//www.youtube.com/channel/UCke7Kezs4s8pw-17jPiQOOQ" target="_blank"
                title="ticketbox.vn youtube">
              </a>
              <a class="social-link szalo visible-xs" href="//zaloapp.com/qr/p/jbq9qdsc65h6" target="_blank"
                title="ticketbox.vn zalo">
              </a>
              <a class="social-link sblo" href="http://blog.ticketbox.vn/" target="_blank" title="ticketbox.vn blog">
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 fbody-block">
          <!-- languages -->
          <div class="ft-langs middle">
            <div class="fbody-head">Ngôn ngữ</div>
            <a data-select-language=""
              href="/lang/vi?redirectUrl=https://ticketbox.vn/event/tedxfptuniversityhcmc-81322?opm=tbox.searchlistcategory.list.5"
              class="lang vi rounded"></a>
            <a data-select-language=""
              href="/lang/en?redirectUrl=https://ticketbox.vn/event/tedxfptuniversityhcmc-81322?opm=tbox.searchlistcategory.list.5"
              class="lang en rounded"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ft-footer clearfix">
    <div class="col-sm-6 ftft-block ftft-tkb">
      <div class="table valign-top margin-bottom-0">
        <div class="ft-img">
          <img src="https://static.tkbcdn.com/site/global/content-v2/img/ticketbox-logo-100.png?v1">
        </div>
        <div class="ftft-left">
          Hệ thống quản lý và phân phối vé sự kiện hàng đầu châu Á. <br> TicketBox Co. Ltd. © 2016
        </div>
      </div>
    </div>
    <div class="col-sm-6 ftft-block ftft-license">
      <div class="table valign-top margin-bottom-0">

        <div class="ftft-right hidden-xs float-none">
          Giấy phép Kinh doanh số 0313605444

          <br>
          do Sở Kế hoạch &amp; Đầu tư TPHCM cấp ngày 07/01/2016
        </div>
        <div class="ftft-left ftft-certification float-none">
          <a href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=23188" target="_blank">
            <img style="height: 40px;" alt="ticketbox" title="ticketbox"
              src="https://static.tkbcdn.com/site/global/content-v2/img/license1.jpg">
          </a>
        </div>
      </div>
    </div>

  </section>
</footer>