<nav class="navbar navbar-expand-lg shadow-lg mb-4 navbar-dark fixed-top d-flex" style="background-color: #189EFF;">
  <a class="navbar-brand" href="./">
    <img src="./public/images/logo.svg" class="card-img-top" alt="logo" title="logo" style="width:70px;">
    {{!-- <img src="/public/image/conference-k16.png" alt="logo" style="width:40px;"> --}}
  </a>

  <button class="navbar-toggler sm" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse show d-flex" id="navbarsExampleDefault">
    <form class="form-inline form-row my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>


    <ul class="navbar-nav mr-sm-2 ml-auto">
      <li class="nav-justified dropdown ">
        <a class="nav-link dropdown-toggle text-light" href="http://example.com" id="dropdown01" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          Nguyen Thi Ngoc Nhu
        </a>
        <div class="dropdown-menu flex-fill" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="./user/inforuser">
            <i class="fa fa-user" aria-hidden="true"></i>
            Xem và chỉnh sủa thông tin cá nhân
          </a>
          <a class="dropdown-item" href="#">
            <i class="fa fa-book" aria-hidden="true"></i>
            Xem danh sách hội nghị đã đăng kí
          </a>
          <a class="dropdown-item" href="#">
            <i class="bi bi-gear-fill"></i>
            <i class="fa fa-gavel" aria-hidden="true"></i>
            Cài đặt
          </a>
          <a class="dropdown-item" href="#">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Đăng xuất
          </a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-bell" aria-hidden="true"></i>
          Thông báo
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Thoát</a>
      </li>

    </ul>


  </div>
</nav>