<!DOCTYPE html>
<html>

<head>
    <% include partials/head =title %>
    <% include ajax/forgetPasswordAjax %>
</head>

<body>
    <h1><%=title %></h1>
    <p>Quên mật khẩu</p>
    <form action="">
        <input id="oldPassword"></input>
        <input id="newPassword"></input>
        <button type="button" id="change" onclick="changePassword()">đổi mật khẩu</button>
    </form>
</body>

</html>