<!DOCTYPE html>
<html>

<head>
  <% include partials/head =title %>

</head>

<body>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %> - Quản lý hội nghị - nhóm 6</p>
  <% include partials/footer %>
  <!-- <script src="/javascripts/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="/javascripts/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/vendors/skrollr.min.js"></script>
  <script src="/javascripts/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="/javascripts/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="/javascripts/vendors/jquery.ajaxchimp.min.js"></script>
  <script src="/javascripts/vendors/mail-script.js"></script> -->
  <!-- <script src="../public/javascripts/js/main.js"></script> -->
  <!-- <script src="../public/javascripts/js/main.js"></script> -->
</body>

</html>