<!DOCTYPE html>
<html>

<head>
  <% include partials/head =title %>
  <link rel="icon" href="img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="/javascripts/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/javascripts/vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/javascripts/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="/javascripts/vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="/javascripts/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/javascripts/vendors/owl-carousel/owl.carousel.min.css">

  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %> - Quản lý hội nghị - nhóm 6</p>
  <% include partials/footer %>
  <!-- <script src="/javascripts/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="/javascripts/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/vendors/skrollr.min.js"></script>
  <script src="/javascripts/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="/javascripts/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="/javascripts/vendors/jquery.ajaxchimp.min.js"></script>
  <script src="/javascripts/vendors/mail-script.js"></script> -->
  <!-- <script src="../public/javascripts/js/main.js"></script> -->
  <!-- <script src="../public/javascripts/js/main.js"></script> -->
</body>

</html>