<div>

  <div class="carousel container-fluid">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="carousel-item">
          <img src="https://images.tkbcdn.com/1/1560/600/Upload/eventcover/2020/11/22/61014C.jpg" class="d-block w-100"
            alt="Khóa học Ứng dụng SQL trong xử lý dữ liệu">
          <div class="carousel-caption d-none d-md-block">
            <h5>Khóa học Ứng dụng SQL trong xử lý dữ liệu</h5>
            <p>Trung tâm tư vấn và đào tạo UniTrain
              Lầu 4, tòa nhà Thiên Sơn, 5 Nguyễn Gia Thiều, phường 6, Quận 3, Thành Phố Hồ Chí Minh
            </p>
          </div>
        </div>

        <div class="carousel-item active">
          <img src="https://images.tkbcdn.com/1/1560/600/Upload/eventcover/2020/11/22/81992C.jpg" class="d-block w-100"
            alt="Khóa học Advanced Power Query">
          <div class="carousel-caption d-none d-md-block">
            <h5>Khóa học Advanced Power Query</h5>
            <p>Trung tâm tư vấn và đào tạo UniTrain
              Lầu 4, tòa nhà Thiên Sơn, 5 Nguyễn Gia Thiều, phường 6, Quận 3, Thành Phố Hồ Chí Minh
            </p>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://images.tkbcdn.com/1/1560/600/Upload/eventcover/2021/01/04/FB5CFC.jpg" class="d-block w-100"
            alt="Digital Marketing F&B Workshop">
          <div class="carousel-caption d-none d-md-block">
            <h5>Digital Marketing F&B Workshop</h5>
            <p>Spiced Co-working
              15/1 Duong so 10, Binh An Ward, Quận 2, Thành Phố Hồ Chí Minh
            </p>
          </div>
        </div>


      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>


  {{> filter_sort}}

  <div class="main container-fluid d-flex justify-content-center">
    <div class="album py-5 bg-light">
      <form class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
          <label class="visually-hidden" for="autoSizingInput">Name</label>
          <input type="text" class="form-control" id="autoSizingInput" placeholder="Jane Doe">
        </div>
        <div class="col-auto">
          <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
          <div class="input-group">
            <div class="input-group-text">@</div>
            <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username">
          </div>
        </div>
        <div class="col-auto">
          <label class="visually-hidden" for="autoSizingSelect">Preference</label>
          <select class="form-select" id="autoSizingSelect">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="autoSizingCheck">
            <label class="form-check-label" for="autoSizingCheck">
              Remember me
            </label>
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>