body {
    font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer p,
.footer_title,
.footer_ebox {
    color: #999999;
    font-size: 13px;
}

.footer_title {
    font-size: 15px;
    font-weight: bold;
}

.footer a {
    color: #00b7ff;
}

.footer {
    flex: auto;
    background-color: #282F3F;
    flex-direction: column;
}

.footer-area {
    width: 100%;
    flex: auto;
    justify-content: space-around;
}

.footer b {
    color: #ACD25A;
    font-size: 20px;
}