<div class="row bg-light">
    <div class="col-3">
        {{> menuadmin}}
    </div>

    <div class="col-9">
        {{!-- Form Tìm kiếm thông tin user bằng Username hoặc số điện thoại --}}
        <form class="row mt-3" style="border-bottom: 1px solid gray;">
            <div class="col-auto">
                <p>Tìm kiếm User nhập:</p>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="username" placeholder="Nhập Username">
            </div>
            <div class="col-auto">
                <input type="tel" class="form-control" id="phonenumber" placeholder="Nhập Số điện thoại"
                    pattern="[0-9]{10}">
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary mb-3">Tìm kiếm</button>
            </div>
        </form>

        {{!--Kết quả trả về nếu có (bình thường sẽ ẩn nó, nếu có kết quả thì hiện lên)--}}
        <table class="table table-striped ">
            <h5 style="margin-top: 20px"> Kết quả trả về thông tin User:</h4>
                <thead class="text-light bg-info">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Họ và tên</th>
                        <th scope="col">Địa chỉ email</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Chi tiết tham gia hội nghị</th>
                        <th scope="col">Tình trạng tài khoản</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td><a href="/admin/userconference">xem chi tiết</a></td>
                        <td>Hoạt động</td>
                    </tr>
                   
                </tbody>
        </table>
        {{!-- --}}
        <div class="row">
            <div class="col-md  card text-white bg-dark mb-3" style="max-width: 18rem; margin-right: 25px">
                
                <div class="card-header">48 user</div>
                <div class="card-body">
                    <h5 class="card-title">Tổng số người dùng</h5>
                    <p class="card-text">All user</p>
                </div>
            </div>

            <div class="col-md  card text-white bg-success mb-3" style="max-width: 18rem; margin-right: 25px">
                <div class="card-header">40 user</div>
                <div class="card-body">
                    <h5 class="card-title">Số người dùng đang hoạt động</h5>
                    <p class="card-text">Number of active users</p>
                </div>
            </div>

            <div class="col-md  card text-white bg-danger mb-3" style="max-width: 18rem;margin-right: 25px">
                <div class="card-header">8 user</div>
                <div class="card-body">
                    <h5 class="card-title">Số user bị chặn</h5>
                    <p class="card-text">Blocked number of users </p>
                </div>
            </div>
        </div>
        {{!-- Danh sách toàn bộ User xuất hiện ngay từ đầu --}}
        <table class="table table-striped">
            <h5 style="margin-top: 20px"> Danh sách thông tin User:</h4>
                <thead class="text-light bg-secondary ">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Họ và tên</th>
                        <th scope="col">Địa chỉ email</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Chi tiết tham gia hội nghị</th>
                        <th scope="col">Tình trạng tài khoản</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td><a href="/admin/userconference">xem chi tiết</a></td>
                        <td>Hoạt động</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td><a href="/admin/userconference">xem chi tiết</a></td>
                        <td>Hoạt động</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                        <td><a href="/admin/userconference">xem chi tiết</a></td>
                        <td>Hoạt động</td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>