<div class="row">
    <div class="col-md-3">
        {{> navmenuadmin}}
    </div>

    <div class="col">
        <a href="#" style="text-decoration:none; font-weight: normal">
            <div class="card mb-3" style="max-width: 850px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/public/images/a_qlus1.jpg" alt="Xem thông tin" style="height: 225px; width: 225px">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Xem thông tin User</h5>
                            <p class="card-text"><small class="text-muted">(Mô tả)</small></p>
                            <p class="card-text">- Xem các thông tin cơ bản của User</p>
                            <p class="card-text">- Xem chi tiết các hội nghị User đã tham gia</p>
                            <p class="card-text">- Tìm kiếm User bằng Username hoặc số điện thoại</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="#" style="text-decoration:none; font-weight: normal">
            <div class="card mb-3" style="max-width: 850px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/public/images/a_qlus2.jpg" alt="Chặn/Bỏ chặn tài khoản">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Chặn/Bỏ chặn tài khoản của User</h5>
                            <p class="card-text"><small class="text-muted">(Mô tả)</small></p>
                            <p class="card-text">- Xem danh sách User bị chặn</p>
                            <p class="card-text">- Tìm kiếm User bằng Username hoặc số điện thoại</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>




    </div>