<div class="row bg-light">
  <div class="col-3">
    {{> menuadmin}}
  </div>

  <div class="col-9">
    {{!-- Thông tin user --}}

    <div class="justify-content-center">
      <div class="card " style="width: 20rem;">

        <img src="https://cdn.pixabay.com/photo/2016/11/18/23/38/child-1837375_1280.png" class="card-img-top" alt="...">
        <div class="card-body ">
          <h5>Nguyễn Văn An</h5>
          <p>Ngày sinh: 20/12/1993</p>
          <p>abcnguyen@gmail.com</p>
          <p>01987304657</p>
        </div>
      </div>
    </div>
    <div>
      {{!-- Danh sách hội nghị đang chờ phê duyệt --}}
      <table class="table table-striped">
        <strong class="d-inline-block p-3">
          <h5> Danh sách hội nghị user đã đăng kí đang chờ phê duyệt:</h3>
        </strong>
        <thead class="text-light bg-info">
          <tr>
            <th scope="col">STT</th>

            <th class="nameconference" scope="col">Tên hội nghị</th>

            <th class="" scope="col">Phê duyệt yêu cầu</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>

            <td>Khóa học Ứng dụng SQL trong xử lý dữ liệu</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-success my-2">Phê duyệt</button>
                <button type="button" class="btn btn-sm btn-outline-danger my-2">Hủy yêu cầu</button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>

            <td>Khóa học Tổ chức và quản lý dữ liệu báo cáo trong Excel</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-success my-2">Phê duyệt</button>
                <button type="button" class="btn btn-sm btn-outline-danger my-2">Hủy yêu cầu</button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Khóa học Advanced Power Query</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-success my-2">Phê duyệt</button>
                <button type="button" class="btn btn-sm btn-outline-danger my-2">Hủy yêu cầu</button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Khóa học Ứng dụng SQL trong xử lý dữ liệu</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-success my-2">Phê duyệt</button>
                <button type="button" class="btn btn-sm btn-outline-danger my-2">Hủy yêu cầu</button>
              </div>
            </td>
          </tr>


        </tbody>
      </table>
      {{!-- Danh sách hội nghị user đã tham gia --}}
      <table class="table table-striped">
        <h5 style="margin-top: 20px"> Danh sách hội nghị User đã tham gia:</h4>
          <thead class="text-light bg-secondary ">
            <tr>
              <th scope="row">STT</th>
              <th scope="col">Tên hội nghị</th>
              <th scope="col">Tóm tắt nội dung hội nghị</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>

            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>

            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
              <td>@twitter</td>

            </tr>
          </tbody>
      </table>

    </div>

  </div>